
<div class="center">
	<!-- Site Socials and Address -->
	<section id="site-socials" class="no-padding white-bg">
		<div class="site-socials inner no-padding">
			<!-- Socials -->
			<div class="socials animated" data-animation="fadeInLeft" data-animation-delay="300" >
				<!-- Facebook -->
				<a href="https://www.facebook.com/" target="_blank" class="social" style="margin: 10px">
					<i class="fa fa-facebook"></i>
				</a>
				<!-- Twitter -->
				<a href="https://twitter.com/login?lang=en" target="_blank" class="social" style="margin: 10px">
					<i class="fa fa-twitter"></i>
				</a>
				<!-- Instagram -->
				<a href="https://www.instagram.com/accounts/login/?hl=en" class="social" style="margin: 10px">
					<i class="fa fa-instagram"></i>
				</a>
			
				
				<!-- Youtube -->
				<a href="#" target="_blank" class="social" style="margin: 10px">
					<i class="fa fa-youtube"></i>
				</a>               
				<!-- Google Plus -->
				<a href="https://aboutme.google.com/u/0/?referer=gplus" target="_blank" class="social" style="margin: 10px">
					<i class="fa fa-google-plus"></i>
				</a>                
			</div>
			<!-- Adress, Mail -->
			
		</div><!-- End Inner -->
	</section>
	 </div>


	<!-- Footer -->
	<footer id="footer" class="footer">
     
		<p class="copyright normal">©  <span class="colored">Flower</span>  .</p>
	</footer><!-- End Footer -->

	<!-- JS Files -->
	