
    <div class="head">
      <b>  <p class="user" style="text-align: center; font-size: 20px ;">Welcome To : {{ user.name }} </p></b>
   </div>
   

  
  <nav>
    <label class="logo" routerLink="/main" >Flowers</label>
    <ul>
      
<li><a routerLink="/about">About
        
      </a>
   
    </li>
<li><a routerLink="/cart">Cart
        <i class="fa fa-shopping-cart"></i>
      </a></li>

      <li><a href="#">Account
        <i class="fa fa-user"></i>
      </a>
        <ul>
<li><a routerLink="/login">User</a></li>
<li><a routerLink="/alogin">Admin</a></li>
<li><a  (click)="onLogoutClick()" >Logout </a></li>

</ul>
</li>
     
      
     

</ul>
</nav>