<app-navbar></app-navbar>


<br>
 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="width: 100%; height:700px">
      <img class="d-block w-100" src="../../assets/slider.jpg" alt="First slide" style="height:500px">
      </div>
      <div class="carousel-item" style="width: 100%; height:700px">
      <img class="d-block w-100" src="../../assets/slider2.jpg" alt="Second slide" style="height:500px">
      </div>
      <div class="carousel-item" style="width: 100%; height:700px">
      <img class="d-block w-100" src="../../assets/slider3.jpg" alt="Third slide" style="height:500px">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div> 
    

<div class="center">
<h1>Most Popular Categories</h1></div>

<div class="table-filter" >
    <div class="row">
        <div class="col-sm-3">
            <div class="show-entries">
               
        </div>
        <div class="col-sm-9">
            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
            <div class="filter-group">
                <label>Search</label>
                <input type="text" class="form-control">
            </div>
          
            <div class="filter-group">
                <label>Filter</label>
                <select class="form-control">
                    <option>Any</option>
                    <option>color</option>
                    <option>flower type</option>
                    <option>code</option>
                    <option>price</option>
                </select>
            </div>
            <span class="filter-icon"><i class="fa fa-filter"></i></span>
        </div>
    </div>
</div> 







  
<div class="main" style="margin-bottom: 240px;" >

    <!--cards -->

    <div class="card">
      
        <div class="image">
            <img src="../../assets/f1.jfif" routerLink="/details">
        </div>
        <div class="title">
            <h1>
                Rose </h1>
        </div>
        <div class="des">
            <p>code -1111</p>
            <p>price - Rs 50</p>
            <a href="" class="btn-round mr-2"><i class="fa fa-shopping-cart"></i></a>
            <div class="btns">
               
                <button>Add to cart</button>
              </div>
        </div>
    </div>
    <!--cards -->


    <div class="card">

        <div class="image">
            <img src="../../assets/f1.jfif" routerLink="/details">
        </div>
        <div class="title">
            <h1>
                Rose </h1>
        </div>
        <div class="des">
            <p>code -1111</p>
            <p>price - Rs 50</p>
            <a href="" class="btn-round mr-2"><i class="fa fa-shopping-cart"></i></a>
            <div class="btns">
                
                <button>Add to cart</button>
              </div>
        </div>
    </div>
    <!--cards -->


    <div class="card">

        <div class="image">
            <img src="../../assets/f1.jfif" routerLink="/details">
        </div>
        <div class="title">
            <h1>
                Rose </h1>
        </div>
        <div class="des">
            <p>code -1111</p>
            <p>price - Rs 50</p>
            <a href="" class="btn-round mr-2"><i class="fa fa-shopping-cart"></i></a>
            <div class="btns">
                
                <button>Add to cart</button>
              </div>
        </div>
    </div>
    <!--cards -->


    <div class="card">

        <div class="image">
            <img src="../../assets/f1.jfif">
        </div>
        <div class="title">
            <h1>
                Rose </h1>
        </div>
        <div class="des">
            <p>code -1111</p>
            <p>price - Rs 50</p>
            <a href="" class="btn-round mr-2"><i class="fa fa-shopping-cart"></i></a>
            <div class="btns">
              
                <button>Add to cart</button>
              </div>
        </div>
    </div>
    <!--cards -->


    <div class="card">

        <div class="image">
            <img src="../../assets/f2.jfif">
        </div>
        <div class="title">
            <h1>
                Sun Flower </h1>
        </div>
        <div class="des">
            <p>code -3333</p>
            <p>price -Rs 30</p>
            <div class="btns">
                
                <button>Add to cart</button>
              </div>
        </div>
    </div>
    <!--cards -->

    <div class="card">

        <div class="image">
            <img src="../../assets/f2.jfif">
        </div>
        <div class="title">
            <h1>
                Sun Flower </h1>
        </div>
        <div class="des">
            <p>code -3333</p>
            <p>price -Rs 30</p>
            <div class="btns">
                
                <button>Add to cart</button>
              </div>
        </div>
    </div>
    <!--cards -->

    <div class="card">

        <div class="image">
            <img src="../../assets/f2.jfif">
        </div>
        <div class="title">
            <h1>
                Sun Flower </h1>
        </div>
        <div class="des">
            <p>code -3333</p>
            <p>price -Rs 30</p>
            <div class="btns">
               
                <button>Add to cart</button>
              </div>
        </div>
    </div>
    <!--cards -->




    <div class="card">

        <div class="image">
            <img src="../../assets/f2.jfif">
        </div>
        <div class="title">
            <h1>
                Sun Flower </h1>
        </div>
        <div class="des">
            <p>code -3333</p>
            <p>price -Rs 30</p>
            <div class="btns">
               
                <button>Add to cart</button>
              </div>
        </div>
    </div>
</div>