<app-navbar2></app-navbar2>




<form class="modal-content"   method="post">
    <div class="container">
      
      <p>Please fill Details</p>
      
      <label for="name"><b>Product Code  </b></label>
      <input type="text"  required >
  
      <label for="email"><b>Product Name</b></label>
      <input type="text"  required >

    
      <label for="email"><b>Units</b></label>
      <input type="text"  required  >

      <label for="email"><b>Initial Quantity </b></label>
      <input type="text"  required  >

      <label for="email"><b>Alert Level Quantity </b></label>
      <input type="text"  required  >

      <label for="email"><b>Remark </b></label>
      <input type="text"  required  >
    
  
      <div class="clearfix">
        <button type="submit"  id="submitDetails"  class="btn"  >submit</button>
         
    
      </div>
        
    </div>
    <br>
  
  </form>
  