
<app-header> </app-header>
<br>
<div class="center">
<div class="wrapper">
  <div class="title">
Registration form</div>
<form [formGroup]="form" name="form" (ngSubmit)= "form.valid &&  onRegisterSubmit()" >
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" required class="form-control" [(ngModel)]="name" name="name" formControlName="name" [ngClass]="
      { 'is-invalid': form.get('name').touched && form.get('name').invalid}"  >
     <div class="invalid-feedback">
       <div > Name is required</div>
     </div>
    </div>
<br>
    <div class="form-group">
      <label>Email Id</label>
        <input type="email"  required class="form-control" [(ngModel)]="email" name="email" formControlName="email" [ngClass]="
        { 'is-invalid': form.get('email').touched && form.get('email').invalid}" >
        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
          <div *ngIf="form.get('email').errors.required"> Email is required</div>
          <div  *ngIf="form.get('email').errors.email"> Email must be valid email address</div>
        </div>
        
      </div>
      <br>

      <div class="form-group">
        <label>User Name</label>
        <input type="text" required  class="form-control" [(ngModel)]="username" name="username" formControlName="username" [ngClass]="
        { 'is-invalid': form.get('username').touched && form.get('username').invalid}" >
        <div class="invalid-feedback">
          <div > username is required</div>
        </div>
      
      </div>
      <br>
    <div class="form-group">
      <label>Password</label>
        <input type="password" required pattern="{{confirm_password}}" class="form-control"  [(ngModel)]="password"  name="password" formControlName="password" [ngClass]="
        { 'is-invalid': form.get('password').touched && form.get('password').invalid}">
        <div class="invalid-feedback" *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
          <div *ngIf="form.get('password').errors.required" > password is required</div>
          <div  *ngIf="form.get('password').errors.pattern"> password does not match</div>
        </div>
        
        
       
      </div>
      <br>
    <div class="form-group" >
      <label>Confirm Password</label>
      <input type="password" required class="form-control" pattern="{{password}}" [(ngModel)]="confirm_password" name="confirm_password" formControlName="confirm_password" [ngClass]="
      { 'is-invalid': form.get('confirm_password').touched && form.get('confirm_password').invalid}">
      <div class="invalid-feedback" *ngIf="form.get('confirm_password').touched && form.get('confirm_password').invalid" class="invalid-feedback">
        <div *ngIf="form.get('confirm_password').errors.required" > confirm_password is required</div>
        <div  *ngIf="form.get('confirm_password').errors.pattern"> confirm_password does not match</div>
      </div>
      
      
    </div>
   
<br>
<div class="field">
      <input type="submit" value="Sign Up">
    </div>

   

</form>


