<app-navbar2></app-navbar2>


<!-- 
<div class="col-lg-9 col-md-6 col-6">
    <div class="header_right_info">
        <div class="search_container">
           <form action="#">
               <div class="hover_category">
                    <select class="select_option" name="select" id="categori1">
                        <option selected value="1">All Categories</option>
                        <option value="2">Accessories</option>
                        <option value="3">Accessories & More</option>
                        <option value="4">Butters & Eggs</option>
                        <option value="5">Camera & Video </option>
                        <option value="6">Mornitors</option>
                        <option value="7">Tablets</option>
                        <option value="8">Laptops</option>
                        <option value="9">Handbags</option>
                    
                    </select>                        
               </div>
                <div class="search_box">
                    <input placeholder="Search product..." type="text">
                     <button type="submit"><i class="fa fa-check-circle"></i></button>
                </div>
            </form>
        </div> -->



        
<div class="center"  >
    <h1 >Order </h1>
    </div>
  
    
  <br>
  <table class="table">

     <thead class="thead-dark">
        <tr style="color: red;">
          
          <th scope="col"></th>
          <th scope="col" colspan="9" style="color: aqua;">Contact Details</th>
          <th scope="col" colspan="5"  style="color: aqua;">Order Details</th>
          <th scope="col" colspan="5"  style="color: aqua;">Payment </th>

          </tr>
     </thead>
      <thead class="thead-dark">
        <tr style="color: red;">
          
          <th scope="col">Order Type</th>
          <th scope="col">Company Name</th>
          <th scope="col">Contact Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Phone </th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Zip</th>
          <th scope="col">Country</th>
          
         

          
          <th scope="col">Order Id</th>
          <th scope="col">Product Code</th>
          <th scope="col">Product Name</th>
          <th scope="col">Units</th>
          <th scope="col">Current Status</th>
          <th scope="col">Bill Amount</th>
          <th scope="col">Advance</th>
          <th scope="col">Balance</th>
          <th scope="col">Mode of Payment</th>     
        
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <th > <select name="Product code" id=Prodname class="form-control" style="width: 100px;">
            <option value="">Offline</option>
            <option value="Whatsapp">Whatsapp</option>
            <option value="Reference">Reference</option>
            <option value="Web"> Web</option>
        </select></th>
          <td>@</td>
          <td>@</td>
          <td>@</td>
          <td>@</td>
          <td>@</td>
  
          
          <td>@</td>
          <td>@</td>
          <td>@</td>
          <td>@</td>
        
          <td>@</td>
          <td>FP1</td>
          <td>F1</td>
          <td>@</td>
          <th > <select name="Product code" id=Prodname class="form-control" style="width: 100px;">
            <option value="">order complied</option>
            <option value="Whatsapp">In Process</option>
            <option value="Reference">Order complied</option>
            <option value="Web"> Out Of Stock</option>
            <option value="Web"> Delivered</option>
            <option value="Web"> Payment Received </option>
        </select></th>
          <td>@</td>
          <td>@</td>
          <td>@</td>
          <th > <select name="Product code" id=Prodname class="form-control" style="width: 80px;">
            <option value=""></option>
            <option value="Whatsapp">Cash</option>
            <option value="Reference">RGTS</option>
            <option value="Web"> NEFT</option>
            <option value="Web"> Paytm</option>
           
        </select></th>
          
  
        </tr>
  
      
        
       
       
      </tbody>
    </table>
    
    <br>
    <br>
  <br>
  <br> <br>


