/* .header_right_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header_right_info {
      justify-content: center;
    }
  }
  @media only screen and (max-width: 767px) {
    .header_right_info {
      justify-content: center;
    }
  }

  .search_container {
    display: block;
  }

  .search_container {
    margin-right: 138px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .search_container {
      margin-right: 40px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .search_container {
      display: none;
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 767px) {
    .search_container {
      margin-right: 0;
      display: none;
    }
  }
  .search_container form {
    display: flex;
    border-radius: 30px;
    border: 1px solid #e1e1e1;
    background: #fff;
    width: 520px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .search_container form {
      width: 481px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .search_container form {
      flex-direction: column-reverse;
      border: 0;
      align-items: center;
      width: 100%;
    }
  }
  @media only screen and (max-width: 767px) {
    .search_container form {
      flex-direction: column-reverse;
      border: 0;
      align-items: center;
      width: 100%;
    }
  }

  .hover_category {
    position: relative;
  }

  .hover_category::before {
    content: "";
    width: 1px;
    height: 16px;
    background: #a1a1a1;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 0;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hover_category::before {
      display: none;
    }
  }
  @media only screen and (max-width: 767px) {
    .hover_category::before {
      display: none;
    }
  }
  .hover_category .select_option {
    border: 0;
    background: inherit;
    height: 54px;
    line-height: 54px;
    padding-left: 25px;
    padding-right: 35px;
    font-size: 14px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hover_category .select_option {
      padding-right: 28px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hover_category .select_option {
      height: 34px;
      line-height: 35px;
      font-size: 13px;
      padding-left: 50px;
      padding-right: 51px;
      border: 1px solid #e1e1e1;
    }
  }
  @media only screen and (max-width: 767px) {
    .hover_category .select_option {
      height: 34px;
      line-height: 35px;
      font-size: 13px;
      padding-left: 50px;
      padding-right: 51px;
      border: 1px solid #e1e1e1;
    }
  }
  .hover_category .select_option::after {
    top: 54%;
    right: 13px;
  }
  .hover_category .select_option ul.list {
    max-height: 300px;
    overflow: auto;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hover_category .select_option ul.list {
      max-height: 220px;
    }
  }
  @media only screen and (max-width: 767px) {
    .hover_category .select_option ul.list {
      max-height: 220px;
    }
  }  

  
.search_box {
    position: relative;
    width: 100%;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .search_box {
      border: 1px solid #e1e1e1;
      margin-bottom: 25px;
    }
  }
  @media only screen and (max-width: 767px) {
    .search_box {
      border: 1px solid #e1e1e1;
      margin-bottom: 25px;
    }
  } */
  /* .search_box input::-webkit-input-placeholder {
    
    color: #222222;
  }
  .search_box input::-moz-placeholder {
  
    color: #222222;
  }
  .search_box input:-ms-input-placeholder {
  
    color: #222222;
  }
  .search_box input:-moz-placeholder {
   
    color: #222222;
  }
  .search_box input {
    border: 0;
    background: inherit;
    width: 100%;
    height: 54px;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    padding: 0 53px 0 20px;
    opacity: 0.7;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .search_box input {
      font-size: 12px;
      padding: 0 54px 0 10px;
      width: 100%;
      height: 34px;
    }
  }
  @media only screen and (max-width: 767px) {
    .search_box input {
      font-size: 12px;
      padding: 0 54px 0 10px;
      width: 100%;
      height: 34px;
    }
  }
  .search_box button {
    border: 0;
    position: absolute;
    top: 0;
    height: 100%;
    right: 15px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 0 5px 5px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: inherit;
  }
  .search_box button:hover {
    color: #79a206;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .search_box button {
      min-width: 55px;
      padding: 0 6px;
      top: 0;
      bottom: 0;
      right: 0;
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 767px) {
    .search_box button {
      min-width: 55px;
      padding: 0 6px;
      top: 0;
      bottom: 0;
      right: 0;
      font-size: 20px;
    }
  }
   */


   .center{
     display: flex;
     justify-content: center;
   }


   
*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: darkblue;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

.tablescroll{
  overflow-x: auto;
}





