<app-navbar2></app-navbar2>



<br>
        
<div class="center"  >
    <h1 >Order </h1>
    </div>
 <br>
<button type="button"  routerLink="/addorder" class="btn btn-primary">Add Offline </button>
    <br>
  <br>
  <div class="tablescroll">
  <table class="table">

     <thead class="thead-dark">
        <tr style="color: red;">
          
          <th scope="col"></th>
          <th scope="col" colspan="9" style="color: aqua;">Contact Details</th>
          <th scope="col" colspan="6"  style="color: aqua;">Order Details</th>
          <th scope="col" colspan="5"  style="color: aqua;">Payment </th>

          </tr>
     </thead>
      <thead class="thead-dark">
        <tr style="color: red;">
          
          <th > Order Type <select name="Product code" id=Prodname class="form-control" style="width: 100px;">
            <option value=""></option>
            <option value="Whatsapp">Offline</option>
           
            <option value="Web">online </option>
        </select></th>
          <th scope="col">Company Name</th>
          <th scope="col" > Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Phone </th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Zip</th>
          <th scope="col">Country</th>
          
         

          <th scope="col"   >Date  </th>
          <th scope="col">Order Id</th>
          <th scope="col">Product Code</th>
          <th scope="col">Product Name</th>
          <th scope="col">Units</th>
          <th scope="col">Current Status
             <select name="Product code" id=Prodname class="form-control" style="width: 100px;">
              <option value="">order complied</option>
              <option value="Whatsapp">In Process</option>
              <option value="Reference">Order complied</option>
              <option value="Web"> Out Of Stock</option>
              <option value="Web"> Delivered</option>
              <option value="Web"> Payment Received </option>
              <option value="Web"> Payment Pending  </option>
          </select>
          </th>
          <th scope="col">Bill Amount</th>
          <th scope="col">Advance</th>
          <th scope="col">Balance</th>
          <th scope="col">Mode of Payment 
             <select name="Product code" id=Prodname class="form-control" style="width: 80px;">
              <option value=""></option>
              <option value="Cash">Cash</option>
              <option value="RGTS">RGTS</option>
              <option value="NEFT"> NEFT</option>
              <option value="Paytm"> Paytm</option>
              
             
          </select> </th>  
          <th scope="col">Action</th> 
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let order of ordersDetails ">
          <td>offline</td>
         <td>{{order.company_name}}</td>
          <td>{{order.name}}</td>
          <td>{{order.email_address}}</td>
          <td>{{order.phone}}</td>
          <td>{{order.address}}</td>
          <td>{{order.city}}</td>
          <td>{{order.state}}</td>
          <td>{{order.zip}}</td>
          <td>{{order.country}}</td>
          <td >{{order.date}}</td>
        
          <td>{{order.order_id}}</td>
          <td>{{order.product_code}}</td>
          <td>{{order.product_name}}</td>
          <td>{{order.units}}</td>
          <td>{{order.status}}</td>
          <td>{{order.bill_amount}}</td>
          <td>{{order.advance}}</td>
          <td>{{order.balance}}</td>
          <td>{{order.mode_of}}</td>
        

        <td>  <li class="list-inline-item">
          <button class="btn btn-danger btn-sm rounded-0" 
          
         
          (click)="deleteOrder(order._id)"
           type="button" data-toggle="tooltip"
          
         
            data-placement="top" title="Delete">
            <i class="fa fa-trash"></i>
          </button>
      </li></td>
          
  
        </tr>
  
      
        
       
       
      </tbody>
    </table>
     </div>
    
    <br>
    <br>
  <br>
  <br> <br>


