<app-navbar2></app-navbar2>

<br>
<br>
<div class="center">
  <h1>RECEIVED ITEM</h1>
</div>
<br>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Date</th>
        <th scope="col">Product Code</th>
        <th scope="col">Product Name</th>
        
        <th scope="col"> Quantity</th>
        <th scope="col">Price</th>
        
        <th scope="col">Units</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>12 Dec 2020</td>
        <td>FP1</td>
        <td>F1</td>
        <td>80</td>
        <td>Rs 50</td>
        <td>Pieces</td>
      </tr>
      <tr>
      
        <td>12 Dec 2020</td>
        <td>FP2</td>
        <td>F2</td>
        <td>80</td>
        <td>Rs 50</td>
        <td>Pieces</td>
      </tr>
    
    </tbody>
  </table>
  
  <br>
  <br>
<br>
<br><br>