<app-navbar2></app-navbar2>

<br>
<br>
<div class="center">
  <h1>RECEIVED ITEM</h1>
</div>
<br>
<!-- 
<button type="submit" routerLink="/addreceive" class="btn btn-success">Add data</button> -->
<br>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update</h4>
      </div>
     <form >
       
        <div class="form-group">
          <label for="exampleInputPassword1">Received Quantity</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Date</th>
        <th scope="col">Product Code</th>
        <th scope="col">Product Name</th>
        
        <th scope="col"> Received Quantity</th>
        <th scope="col">Price</th>
        
        <th scope="col">Units</th>
        <th scope="col">Action</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let driver of driversDetails ">
       
        <td>{{driver.date}}</td>
        <td>{{driver.product_code}}</td>
        <td>{{driver.product_name}}</td>
        <td>{{driver.receive_item}}</td>
        <td>Rs {{driver.price}}</td>
        <td>{{driver.units}}</td>
        <td>
          <li class="list-inline-item">
            <button class="btn btn-success btn-sm rounded-0" (click)="editDriver(driver)"   data-toggle="modal"  type="button" data-target="#myModal" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
        </li>
     
        </td>
      </tr>
    
    
    </tbody>
  </table>
  
  <br>
  <br>
<br>
<br><br>