

<app-navbar2>
    
</app-navbar2>



<form class="modal-content" (submit)="updateDriver()"    method="post">
    <div class="container">
      
      <p>Please fill Data</p>
      
      <label for="name"><b>Sold Quantity  </b></label>
      <input type="text"  required  [(ngModel)]="userObj.sold_quantity" name ="sold_quantity"  >
  
    
     
 
     

      <label for="email"><b>date</b></label>
      <input type="text"  required  [(ngModel)]="userObj.date" name ="date">


  
    
  
      <div class="clearfix">
        <button type="submit"  id="submitDetails"  class="btn"  >Add Product </button>
         

    
      </div>
        
    </div>
    <br>
  
  </form>
   