<app-navbar2></app-navbar2>
<br>
<div class="center">
<h1> ITEM LIST </h1>
</div>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Units</th>
        <th scope="col">Initial Quantity</th>
        
        <th scope="col">Alert Level Quantity</th>
        <th scope="col">Remarks</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>M</td>
        <td>sunflower</td>
        <td>50</td>
        <td>70</td>
        <td>45</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>M</td>
        <td>sunflower</td>
        <td>50</td>
        <td>70</td>
        <td>45</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>M</td>
        <td>sunflower</td>
        <td>50</td>
        <td>70</td>
        <td>45</td>
      </tr>
    </tbody>
  </table>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  