<app-navbar2></app-navbar2>
<br><br>
<div class="center">
  <h1> SALES </h1>
</div>

<br>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
       
        
        <th scope="col">Units</th>
        <th scope="col">Dates</th>
        
        <th scope="col"> Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Product Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Sold Quantity</th>
       
       
      </tr>
    </thead>
    <tbody>
      <tr>
      
        <td>Pieces</td>
        <td>12 Dec 2020 </td>
        <td>100</td>
        <td>40</td>
        <td>FP1</td>
        <td>F1</td>
      </tr>
      <tr>
        
        <td>Pieces</td>
        <td>12 Dec 2020 </td>
        <td>100</td>
        <td>40</td>
        <td>FP2</td>
        <td>F2</td>
      </tr>
      <tr>
       
        <td>Pieces</td>
        <td>12 Dec 2020 </td>
        <td>100</td>
        <td>40</td>
        <td>FP3</td>
        <td>F3</td>
      </tr>
    </tbody>
  </table>
  
  <br>
  <br><br><br><br>