

<div class="head">
   <b>  <p style="text-align: center; font-size: 20px ;">Welcome To  Admin </p></b>
</div>



  <nav>
    <label class="logo" routerLink="/admin" >Flowers</label>
    <ul>
      <li><a routerLink="/admin">DASHBOARD
       
      </a>
<li><a routerLink="/itemlist">ITEM LIST
        
      </a>
      <li><a routerLink="/receive">RECEIVED ITEM
        
      </a>
      <li><a routerLink="/sale">SALES
      
      </a>
      <li><a routerLink="/setting">SETTINGS 
        
      </a>
   
    </li>
<li><a routerLink="/order">ORDER 
        
      </a>
</li>


<li><a href="#">Logout </a></li> 
</ul>
</nav>
