

<div class="head">
   <b>  <p style="text-align: center; font-size: 20px ;">Welcome To  Admin </p></b>
</div>



  <nav>
    <label class="logo" routerLink="/admin" >Flowers</label>
    <ul>
      <li><a routerLink="/admin">DASHBOARD
        <i class="fa fa-caret-down"></i>
      </a>
<li><a routerLink="/itemlist">ITEM LIST
        <i class="fa fa-caret-down"></i>
      </a>
      <li><a routerLink="/receive">RECEIVED ITEM
        <i class="fa fa-caret-down"></i>
      </a>
      <li><a routerLink="/sale">SALES
        <i class="fa fa-caret-down"></i>
      </a>
      <li><a routerLink="/setting">SETTING 
        <i class="fa fa-caret-down"></i>
      </a>
   
    </li>
<li><a routerLink="">ORDER 
        <i class="fa fa-caret-down"></i>
      </a>
</li>


<li><a href="#">Logout </a></li> 
</ul>
</nav>
