<app-navbar2></app-navbar2>
<br>
<br>

<div class="center">
  <h1> DASHBOARD </h1>
  </div>

  <br><br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr style="color: red;">
      
        <th scope="col">Product Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Initial Quantity</th>
        <th scope="col">Received Quantity</th>
        <th scope="col">Sold Quantity</th>
        <th scope="col">Inventory Quantity</th>
        <th scope="col">Cost of Sold Quantity</th>
        <th scope="col">Cost Of Inventory</th>
        <th scope="col">Total Revenue</th>
        <th scope="col">Profit</th>
        <th scope="col">Profit %</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>FP1</td>
        <td>F1</td>
        <td>100</td>
        <td>50</td>
        <td>10</td>
        <td>50</td>

        <td>10</td>
        <td>60</td>
        <td>90</td>
        <td>@mdo</td>
        <td>@mdo</td>
 

      </tr>

      <tr>
       
        <td>FP2</td>
        <td>F2</td>
        <td>100</td>
        <td>50</td>
        <td>10</td>
        <td>50</td>

        <td>50</td>
        <td>70</td>
        <td>100</td>

      </tr>
     
   
     
     
    </tbody>
  </table>
  
  <br>
  <br>
<br>
<br> <br>