<app-navbar2>
    
</app-navbar2>



<form class="modal-content"   (submit)= "onAddSubmit()" method="post" >
    <div class="container">
      
      <label style="color: white;"><b><h1> Item List</h1></b></label>
      <br>

      <mat-form-field appearance="fill" >
        <mat-label style="color: white;">Choose a date</mat-label>
        <input matInput [matDatepicker]="picker"  [(ngModel)]="date" name ="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>

      <!-- <label for="name"><b>Date  </b></label>
      <input type="text"  required  [(ngModel)]="date" name ="date" > -->
      
      <label for="name"><b>Product Code  </b></label>
      <input type="text"  required  [(ngModel)]="product_code" name ="product_code" >
  
      <label for="name"><b>Product Name</b></label>
      <input type="text"  required  [(ngModel)]="product_name" name ="product_name"  >
     
      

      <label for="email"><b>Price </b></label>
      <input type="text"  required   [(ngModel)]="price" name ="price"  >
  
      <label for="email"><b>Units</b></label>
      <input type="text"  required  [(ngModel)]="units" name ="units"  >

      <label for="email"><b>Initial Quantity </b></label>
      <input type="text"  required   [(ngModel)]="initial_quantity" name ="initial_quantity"  >

      <label for="email"><b>Alert Level Quantity </b></label>
      <input type="text"  required   [(ngModel)]="alert_quantity" name ="alert_quantity"  >

      <label for="email"><b>Sold Quantity </b></label>
      <input type="text"  required   [(ngModel)]="sold_quantity" name ="sold_quantity"  >

      <label for="email"><b>Receive Quantity </b></label>
      <input type="text"  required   [(ngModel)]="receive_item" name ="receive_item"  >

      <!-- <label for="email"><b>created by</b></label>
      <input type="text"  required  [(ngModel)]="created_by" name ="created_by"> -->
    
  
      <div class="clearfix">
        <button type="submit"  id="submitDetails"  class="btn"  >Add Product </button>
         
    
      </div>
        
    </div>
    <br>
  
  </form>
  