<app-navbar></app-navbar>






<div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            Book for fresh flowers online by placing your
             order for flower delivery in 200 + Cities in India.
              Our flower delivery in all the cities of India ensures
               delivery of garden fresh flowers to your door steps. So,
                whether you wish to send roses, lilies or orchids our professionals
                 beautifully arrange for flower delivery to cities you wish to send them.
                 
        </p>
        <div class="skills">
           
        </div>
    </div>
</div> 
