<app-navbar2></app-navbar2>
<br><br>
<div class="center">
<h1> SETTING  </h1>
</div>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <!-- <th > <select name="Product code" id=Prodname class="form-control" style="width: 150px;">
            <option value="">Product Name</option>
            <option value="">BBFF-1</option>
        </select></th>
         -->
         <th scope="col">Product Code </th>
        <th scope="col">Product Name  </th>
        <th scope="col">Price</th>
        <th scope="col">Units</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>BBFF-1</td>
        <td>A</td>
        <td> Rs 10</td>
        <td>pieces</td>
       
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>BBFF-1</td>
        <td>A</td>
        <td> Rs 10</td>
        <td>pieces</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>BBFF-1</td>
        <td>A</td>
        <td> Rs 10</td>
        <td>pieces</td>
      </tr>
    </tbody>
  </table>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  
