<app-navbar2></app-navbar2>
<br><br>

<!-- <th > <select name="Product code" id=Prodname class="form-control" style="width: 150px;">
            <option value="">Product Name</option>
            <option value="">BBFF-1</option>
        </select></th>
         -->
 <div class="center">
<h1> ITEM LIST  </h1>
</div>


<button type="button"  routerLink="/addsetting" class="btn btn-primary">Add Data </button>
<br><br>
<table class="table">
    <thead class="thead-dark">
      <tr>

        
        <th scope="col">Date </th>
         <th scope="col">Product Code </th>
        <th scope="col">Product Name  </th>
        <th scope="col">Price</th>
        <th scope="col">Units</th>
        <th scope="col">Initial Quantity</th>
        
        <th scope="col">Alert Level Quantity</th>
        <th scope="col">Sold Quantity</th>
        <th scope="col">Receive Quantity</th>
        <th scope="col">Action</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let driver of driversDetails ">
        <td>{{driver.date}}</td>
        <td>{{driver.product_code}}</td>
        <td>{{driver.product_name}}</td>
        <td>Rs {{driver.price}}</td>
        <td>{{driver.units}}</td>
        <td>{{driver.initial_quantity}}</td>
        <td>{{driver.alert_quantity}}</td>
        <td>{{driver.sold_quantity}}</td>
        <td>{{driver.receive_item}}</td>
        <td>
          <li class="list-inline-item">
            <button class="btn btn-success btn-sm rounded-0" (click)="editDriver(driver)"  type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-danger btn-sm rounded-0" 
          
         
          (click)="deleteDriver(driver._id)"
           type="button" data-toggle="tooltip"
          
         
            data-placement="top" title="Delete">
            <i class="fa fa-trash"></i>
          </button>
      </li>
        </td>
       
      </tr>
    
    
    </tbody>
  </table>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
