<app-navbar2></app-navbar2>




<form class="modal-content"  (submit)= "onAddSubmit()"  method="post">
    <div class="container">
      
      <p>Please fill Details</p>
      
     
  

      <label for="email"><b>Initial Quantity </b></label>
      <input type="text"  required   [(ngModel)]="initial_quantity" name ="initial_quantity"  >

      <label for="email"><b>Alert Level Quantity </b></label>
      <input type="text"  required   [(ngModel)]="alert_quantity" name ="alert_quantity"  >

      <label for="email"><b>Remark </b></label>
      <input type="text"  required   [(ngModel)]="remarks" name ="remarks"  >
    
  
      <div class="clearfix">
        <button type="submit"  id="submitDetails"  class="btn"  >submit</button>
         
    
      </div>
        
    </div>
    <br>
  
  </form>
  