
<app-header> </app-header>
<br>
<div class="center">
<div class="wrapper">
  <div class="title">
Registration form</div>
<form  (submit)= "onRegisterSubmit()" >
    <div class="field">
      <input type="text" required [(ngModel)]="name"name="name" >
      <label>Full Name</label>
    </div>

    <div class="field">
        <input type="email" required  [(ngModel)]="email"name="email">
        <label>Email Id</label>
      </div>

      <div class="field">
        <input type="text" required  [(ngModel)]="username"name="username" >
        <label>User Name</label>
      </div>
    <div class="field">
        <input type="password" required  id="password" [(ngModel)]="password"name="password">
        <label>Password</label>
        <span id="messages"></span>
      </div>
    <div class="field" >
      <input type="password" required id="passwordss" [(ngModel)]="password"name="password">
      <label>Confirm Password</label>
      <span id="messages"></span>
    </div>
   

<div class="field">
      <input type="submit" value="Sign Up">
    </div>

   

</form>
</div>
</div>

